.container {
    width: 1015px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid black;
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header h2 {
    width: 50%;
}

.nav {
    width: 50%;
    font-size: 19px;
    font-weight: normal;
    text-align: right;
}

.regButton,
.addButton {
    display: block;
    margin: 10px auto;
}

.registrationField {
    display: block;
    width: 500px;
    margin: 10px auto;
}

.registration {
    margin-top: 50px;
}

.registration p {
    text-align: right;
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
}

.error {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.createItemField,
.inputFileLabel {
    display: block;
    margin: 10px auto;
    width: 400px;
}

.inputFileLabel {
    height: 20px;
    font-size: 15px;
    border: 1px solid darkgray;
    color: darkgray;
}

.chooseImage {
    display: none;
}

.categoriesBloc {
    text-align: center;
}

.categoryBtn {
    border: none;
    background: none;
    outline: none;
    display: block;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px 0;
}

.catalog {
    display: flex;
    justify-content: space-between;
}

.categories {
    width: 20%;
    border: 1px solid black;
}

.items {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 30%;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 10px;
}

.itemImage img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.category,
.price,
.seller,
.description {
    font-weight: bold;
}

.itemContent {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin: 0 auto;
}

.deleteBtn {
    display: block;
    margin-left: auto;
    margin-right: 20%;
}